:root {
	--light: #9181f4;
	--dark: #5038ed;
	--shadow: 0px 8px 21px 0px #00000029;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}
